
#chart {

  font-family: inconsolata;

  .axis path {
    fill: none;
  }

  .axis {
    font-size: 12px;
  }

  .x.axis path {
    display: none;
  }

  .line {
    stroke-width: 1px;
    stroke: steelblue;
    fill: none;
  }

}
